<!DOCTYPE html>
<html>
  <head>
    <title>Learnfinancialplanning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_stylesheet_tag 'application' %>
  </head>
  <body>

   <!-- Top Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Learnfinancialplanning</a>
        <!-- Navbar content (hidden on smaller screens) -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <!-- Other navbar items can go here -->
        </div>
        <!-- Always visible login/logout buttons -->
        <ul class="navbar-nav ms-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Account", edit_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <!-- Navbar for smaller screens -->
        <nav class="navbar navbar-light bg-light d-md-none">
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasSidebar" aria-controls="offcanvasSidebar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>

        <!-- Offcanvas Sidebar for smaller screens -->
        <div class="offcanvas offcanvas-start d-md-none" tabindex="-1" id="offcanvasSidebar" aria-labelledby="offcanvasSidebarLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvasSidebarLabel">CFP® Test Prep</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <!-- Include the same nav items here -->
            <%= render 'shared/nav_items' %>
          </div>
        </div>

        <!-- Sidebar for larger screens -->
        <nav class="col-md-3 col-lg-2 d-none d-md-block bg-light sidebar">
          <div class="position-sticky">
            <!-- Include the same nav items here -->
            <%= render 'shared/nav_items' %>
          </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
          <%= yield %>
        </main>
      </div>
    </div>

    <%= vite_javascript_tag 'application' %>
  </body>
</html>

